<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Plant Tree</title>
    <meta content="<%= _csrf %>" id="_csrf" />
    <link rel="manifest" href="public/manifest.json">
    <script src="/public/js/initsw.js"></script>
    <%- include('../partials/require') %>
    <link rel="stylesheet" href="/public/css/map.css">
    <link rel="stylesheet" href="/public/css/table.css">
    <script type="text/javascript" language="javascript" src="/public/js/moment-with-locales.js"></script>
    <script src="/public/js/bootstrap/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap/bootstrap-select.min.css">
    <script src="/public/js/socket/socket.io.js"></script>
    <style>
        #future button {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }
    </style>
</head>

<body>
    <%- include('../partials/nav', {page: 'controller', user: user}) %>
    <div class="container-fluid" style="margin-top: 1%">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="text-center">
                    <h3>Lịch Tưới</h3>
                </div>
                <div class="handmade-table container-fluid">
                    <div class="handmade-table-header">
                        <div class="row row-cols-4" style="background-color: #00D97E ;">
                            <div class="col-2 text-break">
                                <b>Motor</b>
                            </div>
                            <div class="col-5 text-break"> <b>Thời gian tưới</b></div>
                            <div class="col-2 text-break"><b>Tưới trong (phút)</b></div>
                            <div class="col-2 text-break"><b>Cường độ (ml/phút)</b></div>
                            <div class="col-1 text-break"></div>
                        </div>
                    </div>
                    <div class="handmade-table-content" style="height: 240px;" id="future">
                        <% for (let future of futures){ %>
                            <div class="hover" id="future_<%= future._id %>">
                                <div class="row row-cols-4">
                                    <div class="col-2 text-break">
                                        <b><%= future.data.device_id %></b>
                                    </div>
                                    <div class="col-5 text-break"><%= future.nextRunAt.toLocaleString() %></div>
                                    <div class="col-2 text-break"><%= future.data.watering_time %></div>
                                    <div class="col-2 text-break"><%= future.data.intensity %></div>
                                    <div class="col-1"><button type="button" class="btn btn-danger">Xoá</button></div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                
                <div class="text-center">
                    <h3>Lịch sử tưới</h3>
                </div>

                <div class="handmade-table container-fluid">
                    <div class="handmade-table-header">
                        <div class="row row-cols-4" style="background-color: #00D97E;">
                            <div class="col-3 text-break">
                                <b>Motor</b>
                            </div>
                            <div class="col-5 text-break"> <b>Thời gian tưới</b></div>
                            <div class="col-2 text-break"><b>Tưới trong (phút)</b></div>
                            <div class="col-2 text-break"><b>Cường độ (ml/phút)</b></div>
                        </div>
                    </div>
                    <div class="handmade-table-content" style="height: 240px;" id="history">
                        <% for (let history of histories){ %>
                            <div class="hover" id="history_<%= history._id %>">
                                <div class="row row-cols-4">
                                    <div class="col-3 text-break">
                                        <b><%= history.data.device_id %></b>
                                    </div>
                                    <div class="col-5 text-break"><%= history.lastRunAt.toLocaleString() %></div>
                                    <div class="col-2 text-break"><%= history.data.watering_time %></div>
                                    <div class="col-2 text-break"><%= history.data.intensity %></div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>




            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="text-center">
                    <h3>Tưới nước</h3>
                </div>

                <form id="form-watering">
                    <div class="form-group pmd-textfield">
                        <label for="device">Chọn motor:</label>
                        <select class="selectpicker" id="device" style="margin-right: 25%; text-indent: 45%;">
                            <% for (let motor of motors) { %>
                            <option value="<%= motor.device_id %>"><%= motor.device_id %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label class="control-label" for="regular1">Chọn ngày:</label>
                                <input type="date" id="datepicker" class="form-control" style="text-align: center;"
                                    required>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label class="control-label" for="regular1">Chọn thời gian:</label>
                                <input type="time" class="form-control" id="timepicker" style="text-align: center;"
                                    required>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <div style="text-align:center;">
                                        <label class="control-label" for="regular1">Thời lượng tưới (phút):</label>
                                    </div>
                                    <div>
                                        <input type="number" id="time_w" class="form-control" value="5" min="0"
                                            style="text-align: center;" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">

                                    <div>
                                        <label class="control-label" for="regular1">Cường độ tưới:</label>
                                    </div>

                                    <div>
                                        <input type="number" id="intensity" class="form-control" value="2500" min="0"
                                            max="5000" style="text-align: center;" required>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="form-group">
                        <div style="text-align:center;">
                            <input type="submit" class="btn btn-primary" id="btn_watering" value="Bơm"
                                style="width:20%">
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <script>
        $("#form-watering").on('submit', function (e) {
            e.preventDefault();
            $("#btn_watering").prop('disabled', true);

            let device = $("#device").val();
            let date = $("#datepicker").val();
            let time = $("#timepicker").val();
            let watering_time = $("#time_w").val();
            let intensity = $("#intensity").val();

            let data = {
                device: device,
                when: new Date(date + ' ' + time),
                watering_time: watering_time,
                intensity: intensity
            };

            let token = $('#_csrf').attr('content');
            fetch("controller/", {
                method: "POST",
                credentials: "same-origin",
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                    'CSRF-Token': token
                },
                body: JSON.stringify(data)
            })
                .then(res => res.json())
                .then(data => {
                    $("#future").prepend(`
                        <div class="hover" id="future_${data._id}">
                            <div class="row row-cols-4">
                                <div class="col-3 text-break">
                                    <b>${data.data.device_id}</b>
                                </div>
                                <div class="col-5 text-break">${new Date(data.nextRunAt).toLocaleString()}</div>
                                <div class="col-2 text-break">${data.data.watering_time}</div>
                                <div class="col-2 text-break">${data.data.intensity}</div>
                            </div>
                        </div>
                    `);

                    setTimeout(() => {
                        $("#btn_watering").prop('disabled', false);
                    }, 1000);
                });
        });

        const chat = io.connect('/controller');
        chat.on('watering', data => {
            $('#history').prepend(`
            <div class="hover" id="history_${data._id}">
                <div class="row row-cols-4">
                    <div class="col-3 text-break">
                        <b>${data.data.device_id}</b>
                    </div>
                    <div class="col-5 text-break">${new Date(data.lastRunAt).toLocaleString()}</div>
                    <div class="col-2 text-break">${data.data.watering_time}</div>
                    <div class="col-2 text-break">${data.data.intensity}</div>
                </div>
            </div>
            `);
            $(`#future_${data._id}`).remove();
        });

        $("#future").on('click', function(e){
            if(e.target.type !== "button"){
                return;
            }

            let id = e.target.closest('.hover').id;

            let token = $('#_csrf').attr('content');
            fetch("controller/", {
                method: "DELETE",
                credentials: "same-origin",
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                    'CSRF-Token': token
                },
                body: JSON.stringify({id: id.match(/^future_(.*)$/)[1]})
            })
                .then(res => res.json())
                .then(doc => {
                    $(`#future_${doc.id}`).remove();
                });

        })
    </script>
</body>

</html>