<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Plant Tree</title>
    <meta content="<%= _csrf %>" id="_csrf" />
    <%- include('../partials/require') %>
    <script src="/public/js/bootstrap/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap/bootstrap-select.min.css">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #f7fafc;
        }

        .navbar {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
        }

        .handmade-table-content {
            height: 67vh;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .handmade-table-header .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-top: 0.5rem;
            border-radius: 0.5rem;
            border-top: #2c7a7b solid 2px;
            text-align: center;
        }

        .handmade-table-header .row .text-break:nth-child(1) {
            border-bottom: #2c7a7b solid 1px;
            padding-bottom: 0.5rem;
        }

        .handmade-table-header .row .text-break:nth-child(2) {
            border-bottom: #2c7a7b solid 1px;
            padding-bottom: 0.5rem;
        }

        .handmade-table-content .row {
            padding: 1rem;
            border-bottom: #2c7a7b solid 1px;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .list-l {
            width: 100%;
        }

        .wrapper {
            background-color: #f8f9fa;
            border-radius: 1rem;
            padding: 0.5rem;
            margin: 0.5rem;
        }

        p {
            margin-bottom: 0 !important;
        }

        .devices div {
            align-items: center;
            margin: 0.2rem;
            min-width: 80px;
        }

        .devices div p {
            background-color: #e2e8f0;
            border-radius: 0.5rem;
            padding: 0.2rem;
            text-align: center;
        }

        .handmade-table-content .task {
            text-align: center;
            margin: auto;
        }

        #device-modal .device,
        .handmade-table-content .device {
            min-width: 100px;
        }

        .handmade-table-content .device-add,
        #device-modal .device-add-depend {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 0 !important;
            font-weight: bolder;
        }

        .handmade-table-content .button-task {
            min-width: 100px;
            margin-top: 0.345rem;
        }

        #map {
            height: 80vh;
        }

        .modal-body .cords div {
            background-color: #bee3f8;
            padding: 0.4rem;
            border-radius: 0.345rem;
            margin-right: 0.5rem;
        }

        .modal-body .cords .lat,
        .modal-body .cords .lng {
            width: 150px;
            margin-bottom: 0.5rem;
        }

        .modal-body .cords button {
            margin-bottom: 0.5rem;
        }

        #device-modal .devices .close,
        .handmade-table-content .devices .close {
            width: 0px;
            height: 0px;
            padding: 0 !important;
            position: relative;
            top: -5px;
            left: -14px;
            font-size: large;
        }

        .dropdown.bootstrap-select {
            margin-bottom: 0.5rem;
        }

        #info-modal .login-info button {
            float: right;
            margin-bottom: 0.5rem;
        }

        #info-modal .login-info hr {
            clear: both;
        }
    </style>
</head>

<body>
    <header class="page-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/public/assets/images/logo.png" alt="East Plan Tree">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse row justify-content-between" id="menu">
                <ul class="navbar-nav col-lg-8 justify-content-start">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Trang Chủ</a>
                    </li>
                    <li class="nav-item nav-item">
                        <a class="nav-link" href="/admin/user-management">Quản Lí Người Dùng</a>
                    </li>
                    <li class="nav-item nav-item active">
                        <a class="nav-link" href="/admin/device-management">Quản Lí Thiết Bị</a>
                    </li>
                </ul>
                <ul class="navbar-nav col-lg-4 justify-content-end guest">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admin: <%= admin.name %></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid main">
        <!-- To do code here -->
        <div class="row">
            <div class="list-l">
                <div class="wrapper shadow">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <select class="browser-default custom-select" id="select_option" onchange="myChangeFunction()">
                                <option selected value="Motor">Motor</option>
                                <option value="Sensor">Cảm biến</option>                                  
                              </select>
                        </div>
                        <input type="text" class="form-control" placeholder="Tìm kiếm ..." aria-label="Email"
                            aria-describedby="basic-addon2" id="myInput" onkeyup="myFunction()">
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="handmade-table container-fluid">
                                <div class="handmade-table-header">
                                    <div class="row row-cols-2">
                                        <div class="col-12 text-break">Motor</div>

                                    </div>
                                </div>
                                <div class="handmade-table-content" id="content_motor">

                                    <div class="row row-cols-2">
                                        <div class="col-12 text-break">
                                            <div class="d-flex justify-content-center">
                                                <button data-type="device-add" type="button"
                                                    class="device-add btn btn-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <% for (let device of data[0]) { %>
                                        <% if (device.device_id && device.device_id.match(/^id(\d+)_\d+$/)[1]==9) { %>
                                            <div class="row row-cols-2" id="<%=device.device_id%>">
                                                <div class="col-* text-break">
                                                    <div class="d-flex justify-content-center">
                                                        <button data-type="device" type="button"
                                                            class="device btn btn-info"><%=device.device_id%></button>
                                                    </div>
                                                </div>
                                                <div class="col-* text-break task">
                                                    <div class="d-flex justify-content-center">
                                                        <button data-type="delete" type="button"
                                                        class="device btn btn-danger">Xóa</button>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="handmade-table container-fluid">
                                <div class="handmade-table-header">
                                    <div class="row row-cols-2">
                                        <div class="col-12 text-break">Cảm biến</div>

                                    </div>
                                </div>
                                <div class="handmade-table-content" id="content_sensor">
                                    <div class="row row-cols-2">
                                        <div class="col-12 text-break">
                                            <div class="d-flex justify-content-center">
                                                <button data-type="device-add" type="button"
                                                    class="device-add btn btn-success">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <% for (let device of data[0]) { %>
                                        <% if (device.device_id && device.device_id.match(/^id(\d+)_\d+$/)[1]==7) { %>
                                            <div class="row row-cols-2" id="<%=device.device_id%>">
                                                <div class="col-* text-break">
                                                    <div class="d-flex justify-content-center">
                                                        <button data-type="device" type="button" class="device btn btn-info"
                                                            ><%=device.device_id%></button>
                                                    </div>
                                                </div>
                                                <div class="col-* text-break task">
                                                        <button data-type="delete" type="button"
                                                            class="device btn btn-danger">Xóa</button>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        let handle_motor = document.getElementById("content_motor");
        // Handle click in table
        handle_motor.addEventListener('click', function (event) {
            if (event.target.type === "button") {
                let type = event.target.getAttribute("data-type");
                let userID = event.target.parentElement.id;
                switch (type) {
                    case "delete":
                        let message_d = "Bạn có chắc muốn xóa thiết bị khỏi hệ thống?";
                        let r = confirm(message_d);
                        if (r == true) {
                            let token = document.getElementById('_csrf').getAttribute('content');
                            let id = event.target.closest(".row").id;
                            console.log(event.target.closest(".row").id);
                            event.target.closest(".row").remove();
                            // Send to Server
                            fetch('device-management/delete', {
                                credentials: "same-origin",
                                method: "DELETE",
                                headers: {
                                    'Content-type': 'application/json; charset=UTF-8',
                                    'CSRF-Token': token
                                },
                                body: JSON.stringify({
                                    device: id
                                })

                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.n == 1){
                                        alert("Xóa thiết bị thành công!");
                                    }
                                    else{
                                        alert("Xóa thiết bị thất bại!");
                                    }
                                })
                                .catch((error) => {
                                    console.error('Error:', error);
                                })
                                ;
                        }
                        break;
                    case "device":
                        console.log("device");
                        break;
                    case "device-add":
                        let message_a = "Bạn có chắc muốn thêm thiết bị mới khỏi hệ thống?";
                        let a = confirm(message_a);
                        if (a == true) {
                            let token = document.getElementById('_csrf').getAttribute('content');
                            fetch('device-management/add', {
                                credentials: "same-origin",
                                method: "POST",
                                headers: {
                                    'Content-type': 'application/json; charset=UTF-8',
                                    'CSRF-Token': token
                                },
                                body: JSON.stringify({
                                    type: "1"
                                })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    //console.log('Success:', data);
                                    let tb_a = document.getElementById("content_motor");
                                    //if (data.n == 1){
                                        tb_a.insertAdjacentHTML("beforeend", `
                                        <div class="row row-cols-2"  id="${data.device_id}">
                                            <div class="col-* text-break">
                                                <div class="d-flex justify-content-center">
                                                        <button data-type="device" type="button" class="device btn btn-info"
                                                        >${data.device_id}</button>
                                                </div>
                                            </div>
                                            <div class="col-* text-break task">
                                                    <button data-type="delete" type="button"
                                                        class="device btn btn-danger">Xóa</button>
                                            </div>
                                        </div>
                                    `);
                                        alert("Thêm thiết bị thành công!");
                                    //}
                                    //else{
                                    //   alert("Thêm thiết bị thất bại!");
                                    //}
                                    
                                    // console.log(tb_a);
                                    
                                })
                                .catch((error) => {
                                    console.error('Error:', error);
                                });
                        }

                        break;
                }
            } else {
                let message = "Có gì đó sai sai!!";

            }
        });

        let handle_sensor = document.getElementById("content_sensor");
        // Handle click in table
        handle_sensor.addEventListener('click', function (event) {
            if (event.target.type === "button") {
                let type = event.target.getAttribute("data-type");
                let userID = event.target.parentElement.id;
                switch (type) {
                    case "delete":
                        let message_d = "Bạn có chắc muốn xóa thiết bị khỏi hệ thống?";
                        let r = confirm(message_d);
                        if (r == true) {
                            let token = document.getElementById('_csrf').getAttribute('content');
                            let id = event.target.closest(".row").id;
                            //console.log(event.target.closest(".row").id);
                            event.target.closest(".row").remove();
                            // Send to Server
                            fetch('device-management/delete', {
                                credentials: "same-origin",
                                method: "DELETE",
                                headers: {
                                    'Content-type': 'application/json; charset=UTF-8',
                                    'CSRF-Token': token
                                },
                                body: JSON.stringify({
                                    device: id
                                })

                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.n == 1){
                                        alert("Xóa thiết bị thành công!");
                                    }
                                    else{
                                        alert("Xóa thiết bị thất bại!");
                                    }
                                   
                                })
                                .catch((error) => {
                                    console.error('Error:', error);
                                })
                                ;
                        }

                        break;
                    case "device":
                        console.log("device");
                        break;
                    case "device-add":
                        let message_a = "Bạn có chắc muốn thêm thiết bị mới khỏi hệ thống?";
                        let a = confirm(message_a);
                        if (a == true) {
                            let token = document.getElementById('_csrf').getAttribute('content');
                            fetch('device-management/add', {
                                credentials: "same-origin",
                                method: "POST",
                                headers: {
                                    'Content-type': 'application/json; charset=UTF-8',
                                    'CSRF-Token': token
                                },
                                body: JSON.stringify({
                                    type: "0"
                                })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    //console.log('Success:', data);
                                    let tb_a = document.getElementById("content_sensor");
                                    //console.log(tb_a);
                                    tb_a.insertAdjacentHTML("beforeend", `
                                        <div class="row row-cols-2"  id="${data.device_id}">
                                            <div class="col-* text-break">
                                                <div class="d-flex justify-content-center">
                                                    <button data-type="device" type="button" class="device btn btn-info"
                                                        >${data.device_id}</button>
                                                </div>
                                            </div>
                                            <div class="col-* text-break task">
                                                    <button data-type="delete" type="button"
                                                        class="device btn btn-danger">Xóa</button>
                                            </div>
                                        </div>
            `);
                                })
                                .catch((error) => {
                                    console.error('Error:', error);
                                });
                        }

                        break;
                }
            } else {
                let message = "Có gì đó sai sai!!";

            }
        });
        function myFunction(){
            let filter, input, select_option;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            select_option = document.getElementById("select_option").value;
            myFunction_(filter,select_option);
        }
        function myFunction_(filter, select_option) {
                // Declare variables
                let table, row, name;
                if (select_option == "Motor"){
                    table = document.getElementById("content_motor");
                    row = table.getElementsByClassName("row row-cols-2");
                } else if (select_option == "Sensor"){
                    table = document.getElementById("content_sensor");
                    row = table.getElementsByClassName("row row-cols-2");
                } else{
                    alert("Có gì đó sai sai!!");
                    return 0;
                }
                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < row.length; i++) {
                    name = row[i].id;
                    if (name)  {
                        if (name.toUpperCase().indexOf(filter) > -1) {
                            row[i].style.display = "";
                        } else {
                            row[i].style.display = "none";
                        }
                    }
                    else {
                        if (filter != "") {
                            row[i].style.display = "none";
                        }
                        else{
                            row[i].style.display = "";
                        }  
                    }
                }
            }
        function myChangeFunction(){
            let select_option = document.getElementById("select_option").value;
            let filter = document.getElementById("myInput").value;
            if (select_option == "Motor"){
                myFunction_("", "Sensor");
            }
            else{
                myFunction_("", "Motor");
            }
            myFunction();
        }

    </script>
</body>

</html>