<header class="page-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/public/assets/images/logo.png" alt="East Plan Tree">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row justify-content-between" id="menu">
            <ul class="navbar-nav col-lg-8 justify-content-start">
                <li class="nav-item <%= page==='dasboard' ? 'active' : '' %>">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item nav-item <%= page==='map' ? 'active' : '' %>">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item nav-item <%= page==='controller' ? 'active' : '' %>">
                    <a class="nav-link" href="/controller">Controller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown navbar-nav">
                        <button type="button" class="btn nav-item nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Notifications
                            <span class="new-notify new">●</span>
                        </button>
                        <div class="dropdown-menu simple-search">
                            <button class="dropdown-item" type="button">Action</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" type="button">Another action</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- <ul class="navbar-nav col-lg-4 justify-content-end guest">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                 </li>
            </ul> -->
            <div class="navbar-nav dropdown col-lg-1 justify-content-end">
                <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="image-info" src="/public/assets/images/info.jpg" alt="avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-right info-account">
                    <div class="info-tittle">
                        Thông Tin Tài Khoản
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="simple-info">
                        <div class="edit-avatar">
                                <div class="image">
                                    <img src="/public/assets/images/info.jpg" alt="avatar">
                                </div>
                                <div class="change">
                                    <a class="link-change">
                                        <svg class="icon-change" enable-background="new 0 0 24 24" focusable="false" height="26" viewBox="0 0 24 24" width="18" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path d="M20 5h-3.17L15 3H9L7.17 5H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 14H4V7h16v12zM12 9c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                        </div>
                        <div class="fullname">
                            <%= user&&user.name ? user.name : 'Guest' %>
                        </div>
                        <div class="email">
                            <%= user&&user.email ? user.email : 'Guest' %>
                        </div>
                    </div>
                    <div class="btn-manager">
                        <button class="btn btn-light">
                            Quản Lí Tài Khoản
                        </button>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="btn-logout">
                        <a href="/auth/logout">
                            <button class="btn btn-light" id="logoutbutton">
                                Đăng Xuất
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>